[Unit]
Description=L1 Image Ingest and Processing Dependency Software
Requires=multi-user.target 
After=multi-user.target
Wants=l1d-rabbitmq.service l1d-redis.service

[Install]
WantedBy=multi-user.target
